body{
    background-color: black;
    color: hsl(50deg 100% 46%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');


@keyframes scroll {
    from { top: 100%; }
    to { top: -100%; }
    }

.caption {
    position: absolute;
    width: 1300px;
    height: 50em;
    bottom: 0;
    left: 50%; margin-left: -9em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 1.5;
    text-align: justify;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(25deg);
    overflow: hidden;
}   

.wrapper {
    position: absolute;
    top: 100%;
    animation: scroll 30s linear infinite;
        
}

.title{
    text-align: center;
}   